* {
  text-align: center;
  box-sizing: border-box;
}
/*constant values */
:root{
    --mainfontstyle: inter;
    --darkBrown: #1a1423;
    --newcolor: #8a817c;
    --maincolor: #463f3a;
    --verylightcolor: #f4f3ee;
    --lightmaincolor: #e0afa0;
    --brownColor: #463f3a;
    --brownishColor: #8a817c;
    --beigeColor: #bcb8b1;
    --dustyColor: #f4f3ee;
    --nudeColor: #e0afa0;

} 
body {
  margin: 0;
  padding: 0;
  background-image: url(images/background.jpg);
  background-size: cover;
}

/*navbar*/

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    background-color: var(--brownishColor);
    box-shadow: 2px 2px 20px var(--beigeColor);
    z-index: 1;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

    nav h2 {
        font-size: 50px;
        font-weight: 900;
        margin: 18px;
        margin-left: 0;
        color: var(--darkBrown);
    }

    nav ul {
        display: flex;
        margin: 0px;
        padding: 0px;
    }

        nav ul li a {
            height: 50px;
            line-height: 43px;
            margin: 8px;
            padding: 0px 12px;
            display: flex;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 900;
            color: var(--darkBrown);
            transition: 0.3s ease-in-out;
        }

            nav ul li a:hover {
                border-radius: 8px;
                background-color: var(--dustyColor);
                color: var(--darkBrown);
                box-shadow: 2px 2px 2px var(--beigeColor);
            }

.sub-menu-1 {
    display: none;
    z-index: 1000;
}

nav ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    margin-top: -5px;
    background-color: var(--nudeColor);
    margin-left: -10px;
    border-radius: 8px;
}

    nav ul li:hover .sub-menu-1 ul {
        display: block;
        margin: 10px;
    }

.menu-icon {
    font-size: 40px;
    position: absolute;
    top: 24px;
    right: 25px;
    display: none;
}


.wrapper{
    padding:50px;
}

/*end navbar*/

.head{
    color:var(--darkBrown);
    font-size:30px;
    padding:17px;
    padding-bottom:0;
}

h1{
    color: var(--maincolor);
    text-align: center;
    
}
main {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}   
/* each member */
  .pic {
    width: 20%;
    height: 50%;
    margin: 10px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    overflow: hidden;
    border: 6px var(--maincolor) ;
    border-style:double;
    transition: transform 1s 1s;
}
    img { 
    width: 100%;  
    transition: transform 1s 1s;
  }
  .pic > div {
    padding: 20px;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.4) ;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    transition: opacity 1s, transform 1s;
    opacity: 0;
  }
  
  .pic > div h3 {
    background-color:var(--lightmaincolor);
    position: relative;
    left: 120%;
    transition: left 1s 2s;
    width: 80%;
    border-radius: 40px;
    text-align: center;
    margin-left: 10%;
    font-weight: 600;
}
  .pic > div p {
    background-color:white;
    width: 60%;
    position: relative;
    right: 120%;
    border-radius: 40px;
    margin-left: 18%;
    text-align: center;
    transition: right 1s 2.5s;
}
  .pic > div a {
    position: relative;
    top: 120%;
    text-shadow: #ffff 3px;
    transition: top 1s 2.75s;

}
/*  Animation */
  .pic:hover .info {
    opacity: 1;
    transform: rotate(360deg);
  }
  .pic:hover img {
    transform: scale(1.1, 1.1);
}
  .pic:hover{
    transform: scale(1.1, 1.1);
  }

  .pic:hover .info h3 {
    left: 0;
  }
  .pic:hover .info p {
    right: 0;
  }
  .pic:hover .info a {
    top: 0;
  }
/* for tablet */
  @media screen and (max-width:1000px )and (min-width:621px){
    .pic{
      margin: 20px;
      width: 35vw;
      height: 45vh;
    }
  }
/* for phone*/
  @media screen and (max-width:620px ) {
    .pic{
      margin: 30px 65px ;
      width: 80%;
      height: 60%;
    }
     .menu-icon {
        display:block;
    }
    .nav-links{
        display:none;
        width:100%;
    }
    nav{
        flex-direction:column;
        align-items:flex-start;
    }
    nav ul{
        flex-direction:column;
    }
    nav ul li{
        width:100%;
        text-align:center;
    }
    .d-flex {
      display: flex;
  }
 
  }
