:root {
    --darkBrown: #1a1423;
    --brownColor: #463f3a;
    --brownishColor: #8a817c;
    --beigeColor: #bcb8b1;
    --dustyColor: #f4f3ee;
    --nudeColor: #e0afa0;
}

body {
    background-image: url(images/background.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}
.parent{
border-radius: 5px;
padding: 15px;
background-color:white;
width: 300px;
text-align: center;
display: flex;
flex-direction: column;
box-shadow: 5px 10px 8px #888888;
}
button{
    color:white;
    border-radius: 20px;
    background-color:  #4bb71b;
margin-left: 150px;
margin-bottom: 30px;   
font-size: 10px;
text-align: center;
padding: 5px;
margin: auto;
border: none;
}
button:hover{
    background-color:grey;
    color: #333;
    cursor: pointer;
h2{
    color: #4bb71b;
    text-align: center;
    font-size: 20px;
}
p{
    margin: 0px;
    font-size: 13px;
}
